.tic-tac-toe table {
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
}

.tic-tac-toe td {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border: 2px solid black;
}

/* X */
.tic-tac-toe .x {
    background: #f88;
    color: #f88;
}

/* O */
.tic-tac-toe .o {
    background: #8f8;
    color: #8f8;
}