.cell {
    width: 75px;
    min-width: 75px;
    height: 75px;
    min-height: 75px;
    line-height: 100%;
    font-size: 3em;
    border: 2px solid deepskyblue;
    font-family: sans-serif;
    text-align: center
}


/* Top row */

.cell--top-left {
    border-top: none;
    border-left: none;
}

.cell--top-middle {
    border-top: none;
    border-right: none;
}

.cell--top-right {
    border-top: none;
    border-right: none;
}


/* Middle row */

.cell--middle-left {
    border-left: none;
}

.cell--middle-right {
    border-right: none;
}


/* Bottom row */

.cell--bottom-left {
    border-bottom: none;
    border-left: none;
}

.cell--bottom-middle {
    border-bottom: none;
    border-right: none;
}

.cell--bottom-right {
    border-bottom: none;
    border-right: none;
}